*
{
    padding:0;
    margin:0;
}

.container,.slide,.arrow
{
    width:100%;
    height:100vh;
}

.slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1
{
    background-image: url("./images/bg0.jpg");
}

.slide2
{
    background-image: url("./images/bg1.jpg");
}

.slide3
{
    background-image: url("./images/bg2.jpg");
}

.arrow
{
    width:100px;
    height:100px;
    position: absolute;
    top: 45%;
    filter: opacity(.3) drop-shadow(0 0 0 #191919);
}
#arrow-right
{
    right:5px;
}

.viewClock
{
    font-size: 5rem;
    color:
}
