*
{
    padding:0;
    margin:0;
}

.container
{
    width:100%;
    height:100vh;
}

.slide
{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1
{
    background-image: url("./images/bg0.jpg");
}

.slide2
{
    background-image: url("./images/bg1.jpg");
}

.slide3
{
    background-image: url("./images/bg2.jpg");
}

.arrow
{
    width:100px;
    height:100px;
    cursor: pointer;
}






